span.note {
  display: block;
  font-size: 1rem;
  margin: 0.5em 0;
}
.container {
  margin: 0px auto;
  width: 660px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-row: auto auto;
  grid-column-gap: 40px;
  grid-row-gap: 0px;

  .box {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;

    span {
      padding: 10px;
    }

    .customise-label {
      display: inline-block;
      margin: 0px;
      padding: 0px;
      transform: rotateZ(-10deg);
      position: relative;
      overflow: hidden;
      top: 140px;
    }
    .customise-arrow {
      transform: scaleX(-1) rotateZ(40deg);
      height: 90px;
      position: relative;
      top: 160px;
      left: 30px;
    }
  }
}

#CodeContainer .code-toolbar {
  display: none;
}

#CodeContainer .code-toolbar:first-child {
  display: block;
}
