<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
    if (!window.location.pathname.endsWith('/')) {
      window.location.href = window.location.pathname + '/';
    }
    </script>
    <link rel="stylesheet" href="demo.css" />
    <link rel="stylesheet" href="../../../../resources/blocks/prism/prism.css" />
    <script type="text/javascript" src="../../../../resources/blocks/prism/prism.js"></script>

    <link rel="stylesheet" href="../../../../resources/css/doge-components.css" />
    <link rel="stylesheet" href="../initial.css" />
    <script type="module" src="../doge-qr.js"></script>
  </head>
  <body>

    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
        const QRWrappers = document.getElementsByClassName("qr-wrapper");
        const CodeContainer = document.getElementById("CodeContainer");
        for (var i = 0; i < QRWrappers.length; i++) {
          QRWrappers[i].addEventListener("click", function() {
            var divContents = this.innerHTML;
            var scriptElement = document.createElement("script");
            
            scriptElement.type = "text/plain";
            scriptElement.className = "language-html";
            scriptElement.innerHTML = divContents

            if (CodeContainer.hasChildNodes()) {
              CodeContainer.replaceChild(scriptElement, CodeContainer.firstChild);
            } else {
              CodeContainer.appendChild(scriptElement);
            };
            Prism.highlightElement(scriptElement);
          });
        }
      });
    </script>

    <div class="page">
      <header>
        <h1><span class="sans">&lt;doge-qr&gt; </span><span class="soft comic">web component</span></h1>
      </header>

      <section>
        <h2>Purpose</h2>
        <hr />
        <p>
          Use this web-component to easily create a Doge wallet QR code to share with friends.
        </p>

        <div class="container">
          <div class="box">
            <div class="qr-wrapper">
              <doge-qr
                address="D69rsxrHpzF6sutcYD31A5rVtcWsdm35tX"
                theme="such-doge">
              </doge-qr>
            </div>
            <span>Such Doge</span>
          </div>

          <div class="box">
            <div class="qr-wrapper">
              <doge-qr
                address="D69rsxrHpzF6sutcYD31A5rVtcWsdm35tX"
                theme="so-coin">
              </doge-qr>
            </div>
            <span>So Coin</span>
          </div>

          <div class="box">
            <h2 class="customise-label">Very customize</h2>
            <img class="customise-arrow" src="arrow.png" />
          </div>

          <div class="box">
            <div class="qr-wrapper">
              <doge-qr
                address="D69rsxrHpzF6sutcYD31A5rVtcWsdm35tX"
                theme="much-dev">
              </doge-qr>
            </div>
            <span>Much Dev</span>
          </div>

          <div class="box">
            <div class="qr-wrapper">
              <doge-qr
                address="D69rsxrHpzF6sutcYD31A5rVtcWsdm35tX"
                theme="very-community">
              </doge-qr>
            </div>
            <span>Very Community</span>
          </div>

          <div class="box">
            <div class="qr-wrapper">
              <doge-qr
                address="D69rsxrHpzF6sutcYD31A5rVtcWsdm35tX"
                fill="#bbb, #ccc"
                img="dance.gif">
              </doge-qr>
            </div>
            <span>Such wow!</span>
          </div>
        </div>
      </section>

      <section>
        <h2>Usage</h2>
        <hr />
        <p>
          1. Add the script to your webpage.
        </p>

        <pre><code class="language-markup">
          &lt;script
            type="module"
            src="https://fetch.dogecoin.org/doge-qr.js"&gt;
          &lt;/script&gt;
          </code></pre>

        <p>
          2. Place one or more doge-qr elements on your page, anywhere.
        </p>
        <div id="CodeContainer">
          <script type="text/plain" class="language-html">
          <doge-qr
            address="D89DhnsgKncmN12RejxudfU8AwXp3946q1"
            amount=100
            theme="such-doge">
          </doge-qr>
          </script>
        </div>

        <p>
          3. Test your QR code is working before sharing it with others. It should lead you to a URL formatted like so: <a class="yellow mono small" href="dogecoin://D89DhnsgKncmN12RejxudfU8AwXp3946q1?amount=100">dogecoin://D89DhnsgKncmN12RejxudfU8AwXp3946q1?amount=100</a>
        </p>
      </section>

      <section>
        <h2>Properties</h2>
        <hr />
        <table class="props-list">
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
          <tr>
            <td><code class="nowrap">address</code></td>
            <td>Your Dogecoin receiving address</td>
          </tr>
          <tr>
            <td><code class="nowrap">amount</code></td>
            <td>An optional amount</td>
          </tr>
        </table>
      </section>

      <section>
        <h2>Styling</h2>
        <hr />
        <table class="props-list">
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
          <tr>
            <td><code class="nowrap">size</code></td>
            <td>Select a size <code>sm</code>, <code>md</code>, <code>lg</code>, <code>xl</code></td>
          </tr>
          <tr>
            <td><code class="nowrap">theme</code></td>
            <td>Select a predefined theme:
              <br><code>such-doge</code>,
              <br><code>so-coin</code>,<br>
              <code>much-dev</code>,<br>
              <code>very-community</code><br>
              <span class="note">When used, the theme determines the background and fill color(s).</span>
            </td>
          </tr>
          <tr>
            <td><code class="nowrap">background</code></td>
            <td>The background color. This can be any valid CSS color</td>
          </tr>
          <tr>
            <td><code class="nowrap">fill</code></td>
            <td>
              The QR dots color. This can be any valid CSS color.<br/>
              Provide two colors for a simple gradient<br/>
              <code>yellow</code><br/>
              <code>#ffc107</code><br/>
              <code>"#ffc107, blue"</code>
            </td>
          </tr>
          <tr>
            <td><code class="nowrap">img</code></td>
            <td>Set a custom image by providing a URL. This can be a <code>png</code>, <code>jpg</code> or <code>gif</code>.</td>
          </tr>
          
        </table>
      </section>

      <section>
        <h2>Example</h2>
        <hr />
        <table class="props-list">
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
           <tr>
            <td><code class="nowrap">address</code></td>
            <td><code>D89DhnsgKncmN12RejxudfU8AwXp3946q1</code></td>
          </tr>
          <tr>
            <td><code class="nowrap">amount</code></td>
            <td><code>100</code></td>
          </tr>
          <tr>
            <td><code class="nowrap">size</code></td>
            <td><code>sm</code></td>
          </tr>
          <tr>
            <td><code class="nowrap">background</code></td>
            <td><code>#333</code></td>
          </tr>
          <tr>
            <td><code class="nowrap">fill</code></td>
            <td><code>"#26edd9, #26eda1"</code></td>
          </tr>
        </table>

        <script type="text/plain" class="language-html">
        <doge-qr
          address="D89DhnsgKncmN12RejxudfU8AwXp3946q1"
          amount=69
          size="sm"
          background="#000"
          fill="#26edd9, #26eda1">
        </doge-qr>
        </script>

        <doge-qr
          address="D89DhnsgKncmN12RejxudfU8AwXp3946q1"
          amount=69
          size="sm"
          background="#000"
          fill="#26edd9, #26eda1"
        ></doge-qr>
      </section>

    </div>
  </body>
</html>
