<!DOCTYPE html>
<html class="sl-theme-light">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../../../resources/img/favicon.ico" type="image/x-icon">
    <title>Doge Web Components | doge-donate</title>

    <link rel="stylesheet" href="../../../index.css" />
    <link rel="stylesheet" href="demo.css" />
    <link rel="stylesheet" href="../../../../resources/blocks/prism/prism.css" />
    <script type="text/javascript" src="../../../../resources/blocks/prism/prism.js"></script>

    <link rel="stylesheet" href="../../../../resources/css/doge-components.css" />
    <script type="module" src="../doge-reel.js"></script>
  </head>
  <body>
    <div class="page">
      <header>
        <a href="/">← Back</a>
        <h1><span class="sans">&lt;doge-reel&gt; </span><span class="soft comic">web component</span></h1>
      </header>

      <section>
        <h2>Purpose</h2>
        <hr />
        <p>
          An easy to use carousel component, for announcements, events, promotions and etc..<br><br>
        </p>

        <div class="container special">
          <div class="box">
            <doge-reel></doge-reel>
          </div>
        </div>
      </section>

      <section>
        <h2>Usage</h2>
        <hr />
        <p>
          1. Add the script to your webpage.
        </p>

        <pre><code class="language-markup">
          &lt;script
            type="module"
            src="https://fetch.dogecoin.org/doge-reel.js"&gt;
          &lt;/script&gt;
          </code></pre>

        <p>
          2. Place the doge-donate element on your page.
        </p>
        <div id="CodeContainer">
          <script type="text/plain" class="language-html">
          <doge-reel>
          </doge-reel>
          </script>
        </div>

        <p>
          3. Test the reel
        </p>
      </section>

      <section>
        <h2>Properties</h2>
        <hr />
        <table class="props-list">
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
          <tr>
            <td><code class="nowrap">foo</code></td>
            <td>...</td>
          </tr>
        </table>
      </section>

      <section>
        <h2>Styling</h2>
        <hr />
        <table class="props-list">
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
          <tr>
            <td><code class="nowrap">bar</code></td>
            <td>...</td>
          </tr>
        </table>
      </section>

    </div>
  </body>
</html>