<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../../../resources/img/favicon.ico" type="image/x-icon">
    <title>Doge Web Components | doge-donate</title>

    <link rel="stylesheet" href="../../../index.css" />

    <link rel="stylesheet" href="../../../../resources/css/doge-components.css" />
    <script type="module" src="../doge-bark.js"></script>
  </head>
  <body>
    <div class="page">
      <header>
        <a href="/">← Back</a>
        <h1><span class="sans">&lt;doge-bark&gt; </span><span class="soft comic">web component</span></h1>
      </header>

      <section>
        <h2>Purpose</h2>
        <hr />
        <p>
          ..
        </p>

        <div class="container">
          <div class="box">
            
            <doge-bark
             title="Doge Says..." 
             img_url="bark_doge.png"
             verticalTextAdjustment="140px" 
             horizontalTextAdjustment="-100px"
             >
            </doge-bark>

            


          </div>
        </div>
      </section>
      <section>
        <h2>Examples</h2>
        <hr />

        <h3>Default</h3>
        <script type="text/plain" class="language-html">
        <doge-bark></doge-bark>
        </script>

        <doge-bark></doge-bark>

    </div>
  </body>
</html>