html { font-family: sans-serif }
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5 {
  font-family: var(--doge-font-fancy);
}
.page {
  max-width: 600px;
  margin: 0px 0px;
  padding: 20px;
}
header {
  margin-bottom: 50px;
}

a.yellow {
  color: #de9a1e;
}
a.yellow:hover {
  color: #ffc107;
}

.mono {
  font-family: monospace;
}

.small {
  font-size: .8rem;
}

h1 {
  margin-bottom: 20px;
}
.sans {
  font-family: sans-serif;
}
.comic {
  font-family: var(--doge-font-fancy);
}
p { line-height: 1.2 }
.soft {
  color: #ccc;
}
section {
  margin-bottom: 4em;
}
hr {
  transform: rotateZ(0.5deg);
  border-bottom: none;
  border-top: 1px solid #333;
  margin-top: 1em;
}
table {
  border-collapse: collapse;
}
table tr {
  border-bottom: 1px solid #ccc;
}
table tr th {
  font-family: var(--doge-font-fancy);
  font-size: 1.1rem;
  padding: 1rem 1rem;
  text-align: left;
}
table tr td {
  padding: 1rem 1rem;
  text-align: left;
}
code {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.9rem;
  background-color: #f3f3f4;
}
code.nowrap {
  white-space: nowrap;
}
table.props-list tr td:first-child code {
  font-family: monospace;
  background-color: #e6e6e7;
}

footer {
  margin: 0 auto;
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding: 10px 20px;
  text-align: center;
}

.bone svg {
  height: 30px;
  transform: rotateZ(-15deg) translateY(5px);
  margin-right: 10px;
}
